@import "utilities";
@import "responsive";




/*
NAVIGATION & LOGO
*/
header{
    padding: 1em;
    justify-content: space-between;
    align-items: center;

    .menu-icon{
        width: 3em;
        cursor: pointer;
    }

    nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background: white;
        width: 50%;
        z-index: 10;
        transform: translateX(100%); //da ne vidimo ovu navigaciju dok ne kliknemo na nju
        transition: transform .5s ease-in-out;//oznacava animaciju navigacije

        ul{
            margin-top: 8em;
        }

        a{
            color: black;
            text-transform: uppercase;
            padding: .75em 2em;

            &:hover{
                background: rgb(233, 233, 233);
            }
        }

        .close{
            float: right;
            width: 2.5em;
            margin: 1em;
        }
    }
}





/*
    STYLING
*/

.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/hero-image.jpg);
    background-size: cover;
    background-position-x: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow-x: hidden;
    animation: introLoad 2s forwards;
}


/*HERO SECTION*/
.hero{
    color: white;
    padding: 1em;
    height: 100vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    &__headline{
        font-size: 3rem;
        line-height: 4rem;
        margin-top: 2em;
    }

    &__paragraph{
        margin-top: 2em;
        
    }

    svg{
        stroke: white;
        position: absolute;
        bottom: 2em;
        width: 1rem;
        animation: moveArrow 1s alternate-reverse infinite;

        path{
            fill: white;
        }
    }
}


/*FEATURE SECTION*/
.feature{
    padding: 2em 1em;

    &__text{
        padding-bottom: .5em;
    
        &__title{
            padding-bottom: .5em;
            font-size: 1.2rem;
        }
    }


}

@media screen and (min-width: 920px) {
    header{
        align-items: center;
        justify-content: space-between;

        .menu-icon{
            display: none;
        }

        nav{
            transform: translateX(0);
            position: unset;
            width: auto;
            height: auto;
            display: block;
            background: none;


            .close{
                display: none;
            }

            .nav{
                display: flex;
                margin: 0;

                .nav-link{
                    color: white;
                    font-size: .9rem;

                    &:hover{
                        background: none;
                        text-decoration: underline;
                    }
                }
            }
        }

        .logo{
            color: black;
        }
        .logo-span{
            color: red;
        }
    }

    .hero-img{
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
    }

    .hero{
        color: black;
        height: auto;
        width: 50%;
        margin-bottom: 8em;

        svg {
            stroke: black;
            position: unset;
            margin-top: 2em;
    
            path{
                fill: black;
            }
        }
    }


    .info{
        width: 100%;
    }
    .feature{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
        margin-bottom: 6em;

        &__text{
            text-align: right;
            
            align-self: center;
        }

        
    }

    .left{
        grid-template-areas: 
        "left right";

        .feature__text{
            grid-area: right;
            text-align: left;
            align-self: center;
        }
    }
  }

  @keyframes introLoad{
      from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
  }

@keyframes moveArrow{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes moveDown{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}